{% extends 'base.html.twig' %}

{% block title %}Définition{% endblock %}

{% block content %}
    <video src="video/pomade.mp4" autoplay muted loop></video>
    <div class="bubble">Aujourd’hui, on va découvrir la définition d’un produit cosmétique !</div>
    <a href="{{ path('game_definition') }}" class="start-button">Next &gt;&gt;</a>
{% endblock %}
