{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block content %}

<div class="container">
    <video src="/video/pomade1.mp4" autoplay muted loop></video>

    <div class="bubble">Oh lala, il semble que la définition est incomplète… Aide-moi à la compléter !</div>

    <div class="definition-container">
        <p id="definition">
            Un produit cosmétique est une substance ou un ______ destiné à être mis en ______ avec les parties ______ du corps humain.
        </p>
    </div>

    <a href="#" class="start-button">Jouer</a>
</div>
{% endblock %}
