{% extends 'base.html.twig' %}

{% block title %}Définition{% endblock %}

{% block content %}
    <video src="/video/pomade1.mp4" autoplay muted loop></video>

    <div class="bubble">Oh lala, il semble que la définition est incomplète… Aide-moi à la compléter !</div>
    <div class="definition-label">
        <strong>Un produit cosmétique est:</strong>
    </div>
    <div class="definition-container">

        <p id="definition">
            Une _________ destinée à être mise en contact avec les diverses parties du _____ ______ (ongles, ________, lèvres, etc.) ou avec les _____, pour les ________, les ________, modifier leur aspects, les ________ et les maintenir en bon état.
        </p>
    </div>

    <a href="{{ path('app_crossword') }}" class="start-button">Jouer</a>
{% endblock %}
