{% extends 'base.html.twig' %}
{% block title %}Bienvenue{% endblock %}
{% block content %}

    <video src="video/creme.mp4" autoplay muted loop></video>
    <div class="bubble">Bienvenue dans le jeu de mots croisés !</div>
    <a href="{{ path('game_defintion') }}" class="start-button">Commencer</a>

{% endblock %}